.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 70s linear;
  height: 55px;
  position: absolute;
  left: 20px;
  top: 20px;
}
body {
  background-color: #282c34;
}
.App {
  display: flex;
  justify-content: center;
}
.App-header {
  display: flex;
}
.AppTitle {
  color:lightgrey;
  font-size: 20px;
  position: absolute;
  left: 85px;
  top: 16px;
}
.MainInputArea {
  margin-top: 10px;
  width: 65%;
  font-size: 15px;

}
.InputField {
  height: 100px;
  margin-top: 80px;
  min-height: 400px;
  width: 100%;
  font-size: 15px;
  display: block;
  border-radius: 5px;

}


.App-link {
  color: #61dafb;
}
.outputElements {
  width: 70%;
  height: 400px;
  font-size: 15px;
  border-radius: 5px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
